@import "../utils/variables";
@import "../utils/global";
.promotions__carrusel{
    margin: 2em;
    min-width: 320px;
   }

@media screen and (min-width: $bpMedium) and (max-width: $bpMediumMax){
    .promotions__carrusel{
        margin: 5em;
    }
}

@media screen and (min-width: $bpLarge){
    .promotions__carrusel{
        margin: 7em;
    }
}