
// BREAKPOINTS
$bpMedium: 768px;
$bpMediumMax: 1023px;
$bpLarge: 1024px;

// VARIABLES
$transition: all 0.5s ease;
$color-primary: hsl(45, 33%, 78%);
$color-secondary: hsl(57, 18%, 56%);
$font-color:hsl(0, 0%, 100%);
$box-shadow: 2px 5px 5px rgb(100, 100, 100);
$opacity: 0.7;
// rgb(194, 191, 154)